body {
    margin: 0;
    font-family: 'Noto Serif JP', serif; 
    background-color: #98c1ff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; 
    flex-direction: column; 
    padding: 20px; 
    box-sizing: border-box; 
    overflow: auto; 
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
  }
  
  @media screen and (max-width: 480px) {
    .game-container {
      margin: 10px;
      padding: 10px;
    }

    .title {
      font-size: 18px;
    }

    .content {
      font-size: 14px;
    }

    .return-button {
      font-size: 14px;
      padding: 10px;
    }
  }

  .game-container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800; 
    transition: background-color 0.3s;
    overflow-y: auto;
  }

  .title {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .content {
    font-size: 20px;
    text-align: left;
    white-space: pre-line;
  }

  .return-button {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
  }

  .return-button:hover {
    background-color: #0056b3;
  }


  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }

  .dark-mode .game-container {
    background-color: #1f1f1f;
  }

  